img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    background-color: lightblue;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover {
    background-color: blue;
  }